{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Course and Student Information</title>
	<meta charset="utf-8"/>
	<meta name="viewport", content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'studentinfo/css/style.css' %}" />    
</head>
    <body>
	<header>
	<nav class="navbar navbar-expand-md navbar-dark bg-dark">
		<a class="navbar-brand" href="#">BUS 443</a>
	<div class="navbar-nav">
		<ul class="navbar-nav">
			<li class="navbar-item">
				<a class="nav-link" href="{% url 'home' %}">Home</a>
			</li>
			<li class="navbar-item">
				<a class="nav-link" href="{% url 'student' %}">Student Details</a>
			</li>
			<li class="navbar-item">
				<a class="nav-link" href="{% url 'course' %}">Course Details</a>
			</li>
			<li class="navbar-item">
				<a class="nav-link" href="{% url 'enroll' %}">Enroll</a>
			</li>
			</ul>
			<ul class="navbar-nav">
				{% if not user.is_authenticated %}
					<ul class="navbar-nav px-2">
						<li class="nav-item text-nowrap">
							<a class="btn btn-light btn-sm" role="button" href="{% url 'login' %}">Log in</a>
						</li>
					</ul>
				{% else %}
					<ul class="navbar-nav">
						<li class="nav-item">
							<a class="nav-link" href="{% url 'logout' %}">Log out</a>
						</li>
					</ul>
				{% endif %}
			</ul>
		</div>
		</nav>
	</header>
	
	{% block container %}
		<div>
			{% block content %}
			{% endblock %}
		</div>
	{% endblock %}

    </body>
</html>