{% extends "studentinfo/base.html" %}

{% block content %}

	<div class="container">
		<div class="jumbotron">
			<h2>Course Details</h2>
			<h5>View course information below. Use the 'Next' button to view more.</h5>
		</div>
	</div>

	<div class="container">
		<table class="table">
			<thead>
				<tr>
					<th>Course ID</th>
					<th>Course Title</th>
					<th>Course Name</th>
					<th>Section Code</th>
					<th>Department</th>
					<th>Instructor (last, first)</th>
				</tr>
			</thead>
			<tbody>
			{% for row in data %}
				<tr>
					<td>{{ row.courseid }}</td>
					<td>{{ row.coursetitle }}</td>
					<td>{{ row.coursename }}</td>
					<td>{{ row.sectioncode }}</td>
					<td>{{ row.department }}</td>
					<td>{{ row.instructor }}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>

		<div class="pagination">
			<span class="step-links">
				{% if data.has_previous %}
					<a href="?page=1">&laquo; First</a>
					<a href="?page={{ data.previous_page_number }}">Previous</a>
				{% endif %}
			<span class="current">
				Page {{ data.number }} of {{ data.paginator.num_pages }}
			</span>
			{% if data.has_next %}
				<a href="?page={{ data.next_page_number }}">Next</a>
				<a href="?page={{ data.paginator.num_pages }}">Last &raquo</a>
			{% endif %}
			</span>
		</div>
	</div>

{% endblock %}