{% extends "studentinfo/base.html" %}

{% block content %}

	<div class="container">
		<div class="jumbotron">
			<h2>Student Enrollment</h2>
			<h5>Use the dropdown boxes below to enroll into a course.</h5>
		</div>
	</div>

<div class="container">  
<div class="container" style="text-align:center">
	<div class="row">  
        <div class="col-md-6">
                <span>Select Student ID:</span>
		<select id="studentname">
		<option value="1001">1001</option>
		<option value="1002">1002</option>
		<option value="1003">1003</option>
		<option value="1004">1004</option>
		<option value="1005">1005</option>
		<option value="1006">1006</option>
		<option value="1007">1007</option>
		<option value="1008">1008</option>
		<option value="1009">1009</option>
		<option value="1010">1010</option>
		<option value="1011">1011</option>
		<option value="1012">1012</option>
		<option value="1013">1013</option>
		<option value="1014">1014</option>
		<option value="1015">1015</option>
		<option value="1016">1016</option>
		<option value="1017">1017</option>
		<option value="1018">1018</option>
		<option value="1019">1019</option>
		<option value="1020">1020</option>
            </select>
        </div>
        <div class="col-md-6">
                <span>Select Course Title:</span>
		<select id="enrolled">
		<option value="ECON 3903">ECON 3903</option>
		<option value="MODMDEST 100">MODMDEST 100</option>
		<option value="PHYSCI 11">PHYSCI 11</option>
		<option value="IT 105">IT 105</option>
		<option value="SAS 100R">SAS 100R</option>
		<option value="SAS 98R">SAS 98R</option>
		<option value="ECON 1450">ECON 1450</option>
		<option value="PSY 1502">PSY 1502</option>
		<option value="CELLBIO 307QC">CELLBIO 307QC</option>
		<option value="APMTH 221">APMTH 221</option>
		<option value="PSY 1503">PSY 1503</option>
		<option value="DRB 322">DRB 322</option>
		<option value="GENETIC 397">GENETIC 397</option>
		<option value="PERSIAN 152">PERSIAN 152</option>
		<option value="CHEM 320">CHEM 320</option>
		<option value="PSY 2410R">PSY 2410R</option>
		<option value="NEUROBIO 355">NEUROBIO 355</option>
		<option value="GENETIC 395">GENETIC 395</option>
		<option value="ENG-SCI 265">ENG-SCI 265</option>
            </select>
        </div>
	</div><br/>
		<center><button class="btn btn-sm btn-dark" id="submit">Submit</button></center>
	</div><br/><br/>
	<div class="container" style="text-align:center">
		<table class="table">
			<thead>
				<tr>
					<th>Student ID</th>
					<th>Course Title</th>
				</tr>
			</thead>
			<tbody>
				{% for row in enroll %}
				<tr>
					<td>{{ row.studentid }}</td>
					<td>{{ row.courseid }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>


</div>

<script>

	$(document).ready(function (){

		$('#submit').click(function(){

		$.ajax({
			url: "{% url 'saveenroll' %}
			data: {
				sname: $('#studentname').val(),
				cname: $('#enrolled').val()
			},
			success: function(){
				window.location = "(% url 'saveenroll' %}"
			}
});
});
});

</script>

{% endblock %}