{% extends "studentinfo/base.html" %}

{% block content %}

	<div class="container">
		<div class="jumbotron">
			<h2>Welcome to your Dashboard!</h2>
			<h4>Use the navigation bar to view student information, course details and enroll</h4>
		</div>
	</div>
	<div class="container2 px-5">
		<center><h2>Dashboard Summary</h2></center>

<div class="d-flex align-items-center flex-column">
	<div class="row">
		<div class="col-sm-6">
			<div class="card">
				<div class="card-body">
			<center><h5>Total # Students Enrolled</h5></center>
			<center><h6>20</h6></center>
				</div>
			</div>
                    </div>
		<div class="col-sm-6">
			<div class="card">
				<div class="card-body">
			<center><h5>Average GPA</h5></center>
			<center><h6>19</h6></center>
				</div>
			</div>
                    </div>
		<div class="col-sm-6">
			<div class="card">
				<div class="card-body">
			<center><h5># Courses Offered</h5></center>
			<center><h6>20</h6></center>
				</div>
			</div>
                    </div>
		<div class="col-sm-6">
			<div class="card">
				<div class="card-body">
			<center><h5>Total # Professors</h5></center>
			<center><h6>17</h6></center>
				</div>
			</div>
                    </div>                    
                </div>
            </div>
        </div>

{% endblock %}