{% extends "studentinfo/base.html" %}

{% block content %}

<div class="container">
	<form method="post" action="{% url 'login' %}">
	{% csrf_token %}
		<table class="table">
			{{ form }}
		</table>
		<input type="submit" value="Login"/>
	</form>
</div>

{% endblock %}