{% extends "studentinfo/base.html" %}

{% block content %}

	<div class="container">
		<div class="jumbotron">
			<h2>Student Details</h2>
			<h5>View student information below. Use the 'Next' button to view more.</h5>
		</div>
	</div>

	<div class="container">
		<table class="table">
			<thead>
				<tr>
					<th>Student ID</th>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Major</th>
					<th>Year</th>
					<th>GPA</th>
				</tr>
			</thead>
			<tbody>
			{% for row in data %}
				<tr>
					<td>{{ row.studentid }}</td>
					<td>{{ row.firstname }}</td>
					<td>{{ row.lastname }}</td>
					<td>{{ row.major }}</td>
					<td>{{ row.year }}</td>
					<td>{{ row.gpa }}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>

		<div class="pagination">
			<span class="step-links">
				{% if data.has_previous %}
					<a href="?page=1">&laquo; First</a>
					<a href="?page={{ data.previous_page_number }}">Previous</a>
				{% endif %}
			<span class="current">
				Page {{ data.number }} of {{ data.paginator.num_pages }}
			</span>
			{% if data.has_next %}
				<a href="?page={{ data.next_page_number }}">Next</a>
				<a href="?page={{ data.paginator.num_pages }}">Last &raquo</a>
			{% endif %}
			</span>
		</div>
	</div>

{% endblock %}